@value headerBg, headerText from 'ui/colors.css';
@value for-mobile-only from 'ui/breakpoints.css';

.header {
    font-size: 15px;
    letter-spacing: 0.15em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 200ms;
    background-color: headerBg;
    color: headerText;
    z-index: 10;
}
.scrolled {
    height: 45px;
}

@media for-mobile-only {
    .header {
        height: 45px;
    }
    .scrolled {
        height: 22px;
    }
}