.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5vw 2vw;
    border-radius: 10px;
    user-select: none;
    width: 22vw;
    height: 23vw;
}
.big {
    padding-bottom: 0;
    width: 46vw;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.caption {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
}
.big .caption {
    color: #1F232E;
}
.small .caption {
    color: #FFFFFF;
}
.listTop {
    height: 15vw;
}
.listBottom {
    height: 5.5vw;
    justify-content: center;
}
.listBottom .caption {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}