@value for-phone-only, for-tablet-portrait-down from 'ui/breakpoints.css';

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5vw 2vw;
    border-radius: 10px;
    user-select: none;
    width: 22vw;
    height: 23vw;
}
.big {
    width: 46vw;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.caption {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
}
.big .caption {
    color: #1F232E;
}
.small .caption {
    color: white;
}
.listTop {
    height: 15vw;
}
.listBottom {
    height: 5.5vw;
    justify-content: center;
}

@media for-tablet-portrait-down {
    .block {
        width: 23vw;
        height: 23.5vw;
    }
    .big {
        width: 48vw;
    }
    .caption {
        font-size: 15px;
    }
    .listTop {
        height: 15vw;
    }
    .listBottom {
        height: 7.5vw;
    }
}

@media for-phone-only {
    .block {
        width: 47vw;
        height: 48.5vw;
        padding: 3vw 4vw;
    }
    .big {
        width: 97vw;
        height: 48.5vw;
    }
    .listTop {
        height: 28vw;
    }
    .listBottom {
        height: 18vw;
    }
    .caption {
        font-size: 15px;
    }
}
.big {
    padding-bottom: 0;
}