.login {
    padding: 0 40px;
    align-self: center;
}
.loginButton {
    color: #000000;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    background-color: #FED95A;
    border-radius: 7px;
    padding: 14px 25px;
    border: 0px;
    transition: padding 200ms;
}
.scrolled {
    padding: 6.5px 13px;
}