@value primary from 'ui/colors.css';
@value for-tablet-portrait-down from 'ui/breakpoints.css';

.login {
    pointer-events: auto;
    display: flex;
    justify-content: flex-end;
}
.loginButton {
    margin-right: 2vw;
    padding: 14px 25px !important;
    transition: padding 200ms;
}

@media for-tablet-portrait-down {
    .loginButton {
        display: fixed;
        top: 13px;
        right: 20px;
        padding: 8px 22px !important;
    }
}