@value primary from 'ui/colors.css';
@value for-phone-only from 'ui/breakpoints.css';

.login {
    display: flex;
    justify-content: flex-end;
    flex-basis: 250px;
}
.loginButton {
    margin-right: 2vw;
    padding: 14px 25px !important;
    transition: padding 200ms;
}
.scrolled .loginButton {
    padding: 6.5px 13px !important;
}

@media for-phone-only {
    .loginButton {
        padding: 8px 22px !important;
    }
    .scrolled .loginButton  {
        padding: 1px 11px !important;
    }
}