@value colors: 'ui/colors.css';
@value trainersBg, trainersBgText from colors;

.trainers {
    background: trainersBg;
    padding: 6vh 2vw;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 45px;
}
.text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: trainersBgText;
    margin-right: 0.4em;
}