@value trainersBg, trainersBgText from 'ui/colors.css';
@value for-phone-only from 'ui/breakpoints.css';

.trainers {
    background: trainersBg;
    padding: 6vh 2vw;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    margin-bottom: 45px;
}
.text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: trainersBgText;
    margin-right: 0.4em;
}

@media for-phone-only {
    .header {
        margin-bottom: 35px;
        height: 65px;
    }
}