@value primarySelect, filterText, filterSelectedText, filterHoverText from 'ui/colors.css';

.button {
    display: flex;
    padding: 5px 10px;
    border-radius: 14px;
    border: none;
    margin: 5px;
    align-items: center;
    user-select: none;
}
.selected {
    color: filterSelectedText;
}
.unselected {
    color: filterText;
}
.caption {
    font-size: 13px;
    margin-left: 6px;
}
.button:hover {
    color: filterHoverText;
}
.button:focus {
    box-shadow: 0 0 0 1px primarySelect;
    outline: unset;
}