@value primarySelect, filterText from 'ui/colors.css';
@value for-phone-only from 'ui/breakpoints.css';

.button {
    display: flex;
    padding: 5px 10px;
    border-radius: 14px;
    border: none;
    margin: 5px;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.selected {
    color: black;
}
.unselected {
    color: filterText;
}
.caption {
    cursor: pointer;
    font-size: 13px;
    margin-left: 6px;
}
.button:hover {
    color: white;
}
.button:focus {
    box-shadow: 0 0 0 1px #6A7286;
    outline: unset;
}

@media for-phone-only {
    .button {
        padding: 5px 9px;
    }
    .caption {
        margin-left: 4px;
    }
}