@value headerBg, primarySelect from 'ui/colors.css';
@value for-tablet-portrait-down from 'ui/breakpoints.css';

.items {
    padding: 0px;
    margin: 0px;
    display: inline;
}
.item {
    display: inline;
    line-height: normal;
    text-align: center;
    padding: 0;
    margin: 0 25px;
    letter-spacing: 0.15em;
}
.selected {
    color: primarySelect;
}
.items:hover .selected {
    color: unset;
}
.items:hover .selected:hover, .item:hover {
    color: primarySelect;
}

@media for-tablet-portrait-down {
    .items {
        display: none;
    }
}