.roundlist {
    display: flex;
    user-select: none;
    height: 150px;
    composes: useScroll from 'ui/common.css';
}
.scroll {
    margin-top: 8px;
    margin: 8px 20px 0 20px;
}
.scrollPlaceholder {
    height: 25px;
}
.empty {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}