@value for-phone-only from 'ui/breakpoints.css';

.roundlist {
    display: flex;
    user-select: none;
    flex-shrink: 0;
    composes: useScroll from 'ui/common.css';
    scroll-snap-type: x proximity;
}
.scroll {
    margin-top: 8px;
    margin: 8px 20px 0 20px;
}
.scrollPlaceholder {
    height: 25px;
}
.empty {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 125.6px;
}

@media for-phone-only {
    .empty {
        font-size: 15px;
    }
}