@value primary, buttonHoverText from 'ui/colors.css';

.button {
    text-align: center;
    border-radius: 7px;
    padding: 14px 20px;
    border: 0px;
    color: buttonHoverText;
    background-color: primary;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}
.button:hover {
    border: 1px solid primary;
    color: primary;
    background-color: unset;
}