@value colors: 'ui/colors.css';
@value primary, buttonHoverText from colors;

.button {
    text-align: center;
    border-radius: 7px;
    padding: 14px 20px;
    border: 1px solid primary;
    color: primary;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    background-color: unset;
}
.button:hover {
    color: buttonHoverText;
    background-color: primary;
}