@value grey4 from 'ui/colors.css';
@value for-tablet-portrait-down from 'ui/breakpoints.css';

.copy {
    padding: 4vh 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: grey4;
}
.copyrights {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

@media for-tablet-portrait-down {
    .copy {
        padding: 0 3vw 2vh 3vw;
    }
    .copyrights {
        margin-top: 1vh;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        order: 2;
    }
}