@value primary from 'ui/colors.css';

.profile {
    flex-basis: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.balance {
    color: primary;
    margin-right: 2vw;
}
.info {
    display: flex;
    align-items: center;
    margin-right: 2vw;
    justify-self: flex-end;
}
.profile {
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    letter-spacing: unset;
    font-weight: bold;
}
.nickname {
    color: #A1A7B5;
    margin-right: 13px;
}
.profileIcon {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('./profile.png');
}