@value for-tablet-portrait-down from 'ui/breakpoints.css';

.games {
    display: flex;
}
@media for-tablet-portrait-down {
    .games {
        width: 100%;
        align-self: flex-start;
        composes: useScroll from 'ui/common.css';
    }
}