@value for-phone-only from 'ui/breakpoints.css';

.games {
    display: flex;
}
@media for-phone-only {
    .games {
        flex-wrap: wrap;
        padding-top: 10vw;
        align-content: space-between;
        height: 145vw;
    }
}