@value breakpoints: 'ui/breakpoints.css';
@value tablet from breakpoints;

.games {
    display: flex;
}
@media tablet {
    .games {
        width: 100%;
        align-self: flex-start;
        composes: useScroll from 'ui/common.css';
    }
}