body {
    background-color: #3C3F4E;
}
.nav * {
    font-size: 15px;
    letter-spacing: 0.15em;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 200ms;
}
.scrolled {
    height: 45px;
}
.menu {
    display: flex;
    align-items: center;
}
.burger {
    font-weight: 200;
    font-size: 70px;
    padding: 0px 40px;
}
.burgerIcon {
    display: block;
    width: 28px;
    height: 13px;
    background-image: url('./burger.svg');
}