@value for-phone-only, for-tablet-portrait-down from 'ui/breakpoints.css';

.tips {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media for-tablet-portrait-down {
    .tips {
        height: 35vw;
    }
}

@media for-phone-only {
    .tips {
        min-height: 420px;
        height: 100vw;
    }
}