@value for-big-desktop-up, for-desktop-down, for-tablet-landscape-down, for-tablet-portrait-down, for-phone-only from 'ui/breakpoints.css';

.sizer {
    overflow: hidden;
}

.skills {
    width: 117%;
    display: flex;
}

.skill {
    flex-grow: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.skill1 {
    background-image: url('./skill1.png');
    border-radius: 15px 0 0 15px;
}
.skill2 {
    transform: translateX(-20%);
    background-image: url('./skill2.png');
}
.skill3 {
    transform: translateX(-40%);
    background-image: url('./skill3.png');
}
.skill4 {
    transform: translateX(-60%);
    background-image: url('./skill4.png');
    border-radius: 0 15px 15px 0;
}

.caption {
    position: absolute;
    left: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    background: linear-gradient(180deg, rgba(75, 75, 75, 0) 0%, rgba(31, 31, 31, 0.3) 100%);
}

.skill1 .caption {
    left: 20px;
}

@media for-big-desktop-up {
    .skills {
        height: 170px;
    }
    .caption {
        bottom: 16px;
    }
}

@media for-desktop-down {
    .skills {
        height: 150px;
    }
    .caption {
        bottom: 22px;
    }
}

@media for-tablet-landscape-down {
    .skills {
        height: 150px;
    }
    .caption {
        bottom: 35px;
        font-size: 13px;
        line-height: 15px;
    }
}

@media for-tablet-portrait-down {
    .sizer {
        width: 300vw;
    }
    .skills {
        height: 40vw;
    }
    .caption {
        bottom: 15px;
        font-size: 25px;
        line-height: 30px;
    }
}

@media for-phone-only {
    .skills {
        height: 40vw;
    }
    .caption {
        bottom: 15px;
        font-size: 17px;
        line-height: 20px;
    }
}