@value welcomeBg, grey4, primarySelect from 'ui/colors.css';
@value for-phone-only, for-tablet-portrait-down from 'ui/breakpoints.css';

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: margin-top 200ms;
    height: calc(100vh - 70px);
    justify-content: space-around;
    min-height: 500px;
    max-height: 900px;
    background: welcomeBg;
}
.welcome::before, .welcome::after {
    content: '';
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line, .subline {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1.2em;
}
.select {
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    color: grey4;
}
.train {
    color: primarySelect;
}
.scrolled {
    margin-top: 25px;
}
@media for-tablet-portrait-down {
    .welcome {
        height: 80vw;
    }
}
@media for-phone-only {
    .welcome {
        height: 220vw;
        max-height: unset;
    }
    .line {
        font-size: 1.7em;
        padding: 0 5vw;
    }
    .subline {
        margin-top: 1.7em;
        font-size: 0.9em;
    }
    .select, .train {
        display: none;
    }
    .scrolled {
        margin-top: 20px;
    }
}