@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

@value bodyBg from 'ui/colors.css';

html,
body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: white;
    background-color: bodyBg;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

a {
    color: unset;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}