@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

@value bodyBg from 'ui/colors.css';

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: white;
    background-color: bodyBg;
}

a {
    color: unset;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}