@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');
@value for-tablet-portrait-down from 'ui/breakpoints.css';
@value bodyBg from 'ui/colors.css';

html,
body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: white;
    background-color: bodyBg;
    -webkit-text-size-adjust: none;
}

a {
    color: unset;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
body {
    padding-top: 70px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    transition: padding 200ms;
}

@media for-tablet-portrait-down {
    body {
        padding-top: 0;
        padding-bottom: 56px;
    }
}