@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    background-color: #1F232E;
}

a {
    color: unset;
    text-decoration: none;
}