@value colors: 'ui/colors.css';
@value primary from colors;
@value userWidth: 130px;

.user {
    width: userWidth;
    flex-shrink: 0;
    height: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user i {
    width: 70px;
    height: 70px;
    background-size: 100%;
    border-radius: 50%;
}
.user:hover {
    cursor: pointer;
}
.filter i {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid;
    box-sizing: border-box;
}
.filter .text {
    color: #FFFFFF;
}
.info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.text {
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #A1A7B5;
}
.rateText {
    color: #464C61;
}
.rate {
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}
.ratingValue {
    margin: 0 5px;
    color: primary;
}