@value primary, userText, userRateText, userHoverText, userHoverRateText from 'ui/colors.css';
@value userWidth: 130px;

.user {
    width: userWidth;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pic {
    border: 1px solid;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.text {
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: userText;
}
.rateText {
    color: userRateText;
}
.rate {
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}
.ratingValue {
    margin: 0 5px;
    color: primary;
}
.streamer {
    position: relative;
    top: 7px;
    left: 53px;
}
.user:hover {
    cursor: pointer;
}
.hovered .text {
    color: userHoverText;
}
.hovered .rateText {
    color: userHoverRateText;
}