.tip {
    display: flex;
    flex-direction: column;
}
.caption {
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.tip:hover {
    cursor: pointer;
}