.title {
    display: flex;
    align-items: center;
    width: 250px;
}
.burger {
    margin-left: 40px;
}
.burgerIcon {
    display: block;
    width: 28px;
    height: 13px;
    background-image: url('./burger.svg');
}
.label {
    margin-left: 40px;
    color: #FFFFFF;
}