@value for-tablet-portrait-down from 'ui/breakpoints.css';

.title {
    pointer-events: auto;
    display: flex;
    align-items: center;
}
.burger {
    pointer-events: auto;
    margin-left: 4vw;
}
.burgerIcon {
    display: block;
    width: 35px;
    height: 14px;
    background-image: url('./burger.svg');
}
.logo {
    cursor: pointer;
    margin-left: 3vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./logo.png');
    width: 70px;
    height: 37px;
    border-radius: 15px;
    /* transition: width 200ms, height 200ms; */
}

@media for-tablet-portrait-down {
    .logo {
        position: fixed;
        top: 10px;
        left: 15px;
    }
    .burger {
        display: none;
    }
}