@value for-tablet-portrait-down from 'ui/breakpoints.css';

.title {
    pointer-events: auto;
    display: flex;
    align-items: center;
    flex-basis: 250px;
}
.burger {
    pointer-events: auto;
    margin-left: 4vw;
}
.burgerIcon {
    display: block;
    width: 30px;
    height: 10px;
    background-image: url('./burger.svg');
}
.logo {
    cursor: pointer;
    margin-left: 3vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./logo.svg');
    width: 44px;
    height: 19px;
    transition: width 200ms, height 200ms;
}

@media for-tablet-portrait-down {
    .title {
        flex-basis: unset;
    }
    .burger {
        margin-left: 10vw;
    }
    .scrolled .logo {
        width: 29px;
        height: 13px;
    }
}