@value for-phone-only, for-tablet-landscape-down from 'ui/breakpoints.css';

.blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 2vw;
}
.last {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.market {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./market.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.marketTip {
    color: #FF4951;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
}
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.centerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.onlineImg {
    background-image: url('./online.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4vw;
    height: 3vw;
}
.newsImg {
    background-image: url('./news.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4vw;
    height: 3vw;
}
.iconNews {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.topReverser {
    height: 22.4px;
}

@media for-tablet-landscape-down {
    .news {
        display: none;
    }
    .iconNews {
        display: flex;
    }
    .marketTip {
        font-size: 15px;
    }
}

@media for-phone-only {
    .blocks {
        height: 103vw;
    }
    .onlineImg {
        width: 7vw;
        height: 5.25vw;
    }
    .newsImg {
        width: 7vw;
        height: 5.25vw;
    } 
    .marketTip {
        font-size: 15px;
    }
}