@value footerBg, footerText, footerHoverLink, footerLogoBg, footerLogoText from 'ui/colors.css';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: footerBg;
    color: footerText;
    user-select: none;
}
.footer a:hover {
    color: footerHoverLink;
}
.top {
    padding: 3vh 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.logo {
    width: 75px;
    height: 45px;
    border-radius: 10px;
    background-color: footerLogoBg;
    color: footerLogoText;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: bold;
    font-size: 25px;
}
.nav {
    display: flex;
    align-items: center;
    height: 45px;
}
.pages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
@media(max-width: 1200px) {
    .nav {
        display: none;
    }
}
@media(max-width: 850px) {
    .pagesFirst {
        margin-top: 2vh;
    }
    .pages {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        order: 2;
    }
}