@value footerBg, footerText from 'ui/colors.css';
@value for-tablet-portrait-down, for-tablet-landscape-down, for-phone-only from 'ui/breakpoints.css';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: footerBg;
    color: footerText;
    user-select: none;
}
.footer a:hover {
    color: white;
}
.top {
    padding: 3vh 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.logo {
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    width: 75px;
    height: 45px;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./logo.png');
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
    height: 45px;
}
.pages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

@media for-tablet-landscape-down {
    .nav {
        display: none;
    }
}

@media for-tablet-portrait-down {
    .top {
        padding: 3vh 4vw 0;
    }
    .pagesFirst {
        margin-top: 2vh;
    }
    .pages {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        order: 2;
    }
    .logo {
        position: relative;
        left: -14px;
    }
}

@media for-phone-only {
    .top {
        padding: 3vh 6vw;
    }
    /*
    TODO: on iphone5
    .startTrain {
        max-width: 115px;
    }
    */
}