@value grey4 from 'ui/colors.css';

.pages {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.item {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding-top: 20px;
    color: grey4;
}