@value headerBg, primarySelect from 'ui/colors.css';
@value for-tablet-portrait-down from 'ui/breakpoints.css';

.items {
    position: fixed;
    height: 70px;
    transition: height 200ms;
    width: 300px;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 15;
}
.item {
    pointer-events: auto;
    display: inline;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.15em;
}
.selected {
    color: primarySelect;
}
.items:hover .selected {
    color: unset;
}
.items:hover .selected:hover, .item:hover {
    color: primarySelect;
}
.icon, .item:last-of-type {
    display: none;
}
.scrolled {
    height: 45px;
}

@media for-tablet-portrait-down {
    .items {
        pointer-events: none;
        height: 56px;
        top: unset;
        left: unset;
        transform: unset;
        bottom: 56px;
        width: 100%;
        background: headerBg;
	    transform: translateY(56px);
    }
    .items .item {
        pointer-events: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    .items:hover .selected .link, .selected .icon, .link {
        display: none;
    }
    .items:hover .selected .icon, .selected .link, .icon {
        display: unset;
    }
    .items:hover .selected:hover .link, .item:hover .link {
        display: unset;
    }
    .items:hover .selected:hover .icon, .item:hover .icon {
        display: none;
    }
    .items:last-child {
        display: unset;
    }
}