.items {
    padding: 0px;
    margin: 0px;
}
.item {
    display: inline;
    line-height: normal;
    text-align: center;
    padding: 25px;
    letter-spacing: 0.15em;
}
.selected {
    color: #F3CE44;
}
@media (max-width: 725px) {
    .items {
        display: none;
    }
}