@value grey1 from 'ui/colors.css';
@value hasTouch from 'ui/breakpoints.css';

.useScroll {
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    scrollbar-color: #101322 rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
    padding-bottom: 25px;
}
.useScroll::-webkit-scrollbar {
    height: 2px;
}
.useScroll::-webkit-scrollbar-thumb {
    background-color: #101322;
}

@media hasTouch {
    .useScroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding-bottom: unset;
    }
    .useScroll::-webkit-scrollbar {
        display: none;
    }
}
