@value for-phone-only from 'ui/breakpoints.css';

.games {
    display: none;
}

@media for-phone-only {
    .games {
        margin-top: 15vw;
        margin-bottom: 22vw;
        display: block;
    }
    .title {
        margin-left: 3vw;
        margin-bottom: 8vw;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    .data {
        padding-left: 3vw;
        display: flex;
        justify-content: flex-start;
        /* composes: useScroll from 'ui/common.css'; */
    }
    .item {
        width: 43vw;
        flex-shrink: 0;
    }
    .game {
        height: 27vw;
        width: 40vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        border-radius: 15px;
    }
    .bg {
        position: absolute;
        top: 30%;
        width: 100%;
        height: 70%;
        background: linear-gradient(180deg, rgba(34, 39, 50, 0) 0%, rgba(33, 39, 54, 0.5) 100%);
    }
    .caption {
        position: absolute;
        text-align: center;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 130px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 130%;
        z-index: 1;
    }
}